{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="text-center w-1/2 flex flex-col items-center">  
        <h1 class="text-6xl my-20">{{user.username}}</h1>
        
        <div class="mb-6 w-3/4 flex flex-col justify-center">
            <p class="text-left">Your email :</p> 
            <input type="text" class="text-[#202020] pl-2 mt-2 w-full rounded-md border-2 border-[#65C986]" value="{{ user.email }}" >
        </div>
    
        <div class="mb-6 w-3/4 flex flex-col justify-center">
            <p class="text-left">Your password : </p>
            <input type="password" class="text-[#202020] pl-2 mt-2 w-full rounded-md border-2 border-[#65C986]" value="********" readonly>
        </div>

        <a class="bg-[#65C986] py-2 px-4 rounded-md text-[#202020] font-bold" href="{{ path('app_logout') }}">Logout</a> 
    </div>
   

{% endblock %}
