{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    {% if app.user %}
        <h1 class="text-3xl lg:text-6xl my-20 font-bold">Change your password</h1>

        {% for message in app.flashes('error') %}
            <div class="text-red-700 p-2 bg-red-200 rounded-md w-fit ml-[15%]">
                {{ message }}
            </div>
        {% endfor %}

        <div class="w-4/6 lg:w-1/2">
            {{ include('front/profil/_form.html.twig') }}
        </div>         
        
        <a class="bg-[#65C986] py-2 px-4 rounded-md text-[#202020] font-bold mb-20 w-4/6 lg:w-fit text-center" href="{{ path('app_profil_index') }}">Back to your profil</a>
    {% else %}
        <script>
            window.location.href = "{{ path('app_login') }}";
        </script>
   {% endif %}

{% endblock %}