{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}



    <img src="https://cdn1.epicgames.com/offer/24b9b5e323bc40eea252a10cdd3b2f10/EGS_LeagueofLegends_RiotGames_S1_2560x1440-80471666c140f790f28dff68d72c384b" alt="">

    <div class="fixed z-10 w-full px-10 mt-24 flex flex-col items-end space-y-4">
        {% for message in app.flashes('success') %}
            <div class="bg-green-500/50 text-[#F1F1F1]-700 border-2 border-green-500 rounded-md w-fit text-center font-bold p-2">
                {{ message }}
        </div>
        {% endfor %}
    </div>

    <div class="text-center flex flex-col items-center">

        <h1 class="text-2xl">Legendarift</h1

        <p class="w-1/2">Unleash your full potential ! <br>
        Optimize your builds, analyze your stats, and boost your performance in League of Legends. Discover the ultimate tool to craft custom setups, maximize your in-game impact, and reach new heights.</p>
    </div>

{% endblock %}
