{% extends 'base.html.twig' %}

{% block title %}Create Article{% endblock %}

{% block body %}
 
<div class="bg-[#FFFFFF] dark:bg-[#494A56] w-5/6 lg:w-3/6 mb-40 mt-20 lg:py-28 py-20 rounded-md flex flex-col items-center justify-center text-[#202020] dark:text-[#F1F1F1]">
        <h1 class="text-4xl lg:text-6xl font-bold mb-20">Article :</h1>
        <div class="w-5/6 md:w-4/6">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="flex justify-end mt-20">
                    <button class="bg-[#65C986] rounded-md py-2 px-4 font-bold text-[#202020]">{{ button_label|default('Update') }}</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
